{
  "env": {
    "browser": true,
    "es2021": true,
    "es6": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "arrowFunctions": true,
      "classes": true,
      "spread": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "babel"
  ],
  "rules": {
    "react/prop-types": [
      "off"
    ],
    "no-plusplus": "off"
  },
  "parser": "@babel/eslint-parser"
}
